*{
    margin: 0;
    padding: 0;
 }

 .logo{
    width: 170px;
 }

 .h1{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 200px; 
    align-items: center;
    box-shadow: 7px 7px 30px gray,  -7px -7px 30px gray;
    margin: 50px auto;
    flex-wrap: wrap; /*  sığmayanı alta at */
    padding: 15px;
}
.ul1{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    box-shadow: 7px 7px 30px gray;
    
}
a{
    color: rgba(193, 100, 35, 0.971) ;
    text-decoration: none;
    margin: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
a:hover{
    color: red;
   transition: ease-in 0.4s;   /* üzerine geldiğinde 0.4 saniyeiçinde yavaş yavaş kırmızı yap*/
   font-size: 15px;
   padding: 15px;
} 
.path{
    width: 300px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 5px 7px 10px gray, -5px -7px 10px gray;
    }
.c1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

 .m1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
 }
 .path:hover{
    transform: scale(1.5);   /*üzerine geldiğinde resmi büyültür */
    transition: ease-in 0.5s;
 }